body {
  background-image: url("../image/books-2596809_1280.webp");
  background-size: auto;
}

#main {
  position: relative;
  top: auto;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  opacity: 1;
  background: rgb(0 0 0 / 90%);
  /* border: 1px solid rgb(102, 102, 102); */
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: left;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 100%);
}
#navbar {
  margin-top: 1.5em;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  width: 90%;
  /* border: 1px solid rgb(102, 102, 102); */
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 100%);
}

#title {
  padding: 0px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#sitesListArea {
  overflow: auto;
  background-color: rgb(34 34 34 / 20%);
  color: rgb(238, 238, 238);
  font-size: 17px;
}

#inputArea {
  /* display: block; */
  width: 90%;
  margin: auto;
  margin-left: 5px;
  border: 1px solid rgb(102, 102, 102);
  background: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#siteList {
  float: left;
  clear: left;
  display: block;
  margin: 7px;
  padding: auto;
  position: relative;
  top: 4px;
}

#searchBottun {
  cursor: pointer;
  margin: 10px;
  display: block;
  clear: both;
  font-size: 20px;
}
