body {
  background-image: url("../image/books-2596809_1280.webp");
}

#main {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  background: rgb(0 0 0 / 90%);
  color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 100%);
  margin-bottom: 1.5em;
}
#navbar {
  margin-top: 1.5em;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  width: 90%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 100%);
}

#title {
  padding: 0px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#sitesListArea {
  background-color: rgb(34 34 34 / 20%);
  color: rgb(238, 238, 238);
  font-size: 17px;
}

#inputArea {
  width: 90%;
  margin: auto;
  margin-left: 0.5em;
  border: 1px solid rgb(102, 102, 102);
  background: white;
  color: black;
  font-size: 20px;
}

#searchBottun {
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
}

.checkbox-inline {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}

.form-check-label {
  margin-left: 0.5em;
}
