#main {
  position: fixed;
  top: auto;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  opacity: 1;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(102, 102, 102);
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: left;
}
#navbar {
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  width: 90%;
}

#title {
  padding: 0px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#sitesListArea {
  overflow: auto;
  background-color: rgb(34, 34, 34);
  color: rgb(238, 238, 238);
  font-size: 17px;
}

#inputArea {
  /* display: block; */
  width: 90%;
  margin: auto;
  margin-left: 5px;
  border: 1px solid rgb(102, 102, 102);
  background: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#siteList {
  float: left;
  clear: left;
  display: block;
  margin: 7px;
  padding: auto;
  position: relative;
  top: 4px;
}

#searchBottun {
  cursor: pointer;
  margin: 10px;
  display: block;
  clear: both;
  font-size: 20px;
}
