#main {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  padding: 2px;
  width: 90%;
  opacity: 1;
  background: rgb(0, 0, 0);
  border: 1px solid rgb(102, 102, 102);
  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: left;
  z-index: 9998;
}

#title {
  padding: 0px 10px;
  height: 20px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

#sitesListArea {
  overflow: auto;
  background-color: rgb(34, 34, 34);
  color: rgb(238, 238, 238);
  font-size: 15px;
  cursor: auto;
}

#inputArea {
  display: block;
  width: 90%;
  margin: 10px auto;
  border: 1px solid rgb(102, 102, 102);
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: 20px;
}

#siteList {
  float: left;
  clear: left;
  display: block;
  margin: 5px 6px;
}

#searchBottun {
  cursor: pointer;
  margin: 6px auto;
  display: block;
  clear: both;
  font-size: 15px;
}
